.midle{
    margin-left: 35%;
}
.box{
    width: 424px;
    height: 495px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.lightgreenyelow{
    color: rgb(156, 245, 22);
}.mini-top{
    padding-top: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}.btn1{
    margin-top: 23.5px;
    height: 40px;
}.radius{
    border-radius: 15px;
}
.height-width{
    width: 100%;
    height: 245px;
}
.mid-top{
    padding-top: 30px;
}