<div class="box midle">
  <img
    class="height-width radius"
    src="https://carwow-uk-wp-1.imgix.net/New-BMW-i5-front-driving-3.png?auto=format&cs=tinysrgb&fit=crop&h=800&ixlib=rb-1.1.0&q=60&w=1600"
    alt=""
  />
   <p class="mini-top" >this car is way more comfortable than woltwagen ford and nissan also it has most cpase and is slowest this car is for family and people who like comfort</p>
  <h2 class="lightgreenyelow">$ 2500</h2>
  <p>this is for 14 days</p>
  <div class="flex"> 
      <button routerLink="/main-page" class="btn1 btn btn-secondary">
    go to home
  </button>
  <button type="button" routerLink="/bmw-pay" class="btn1 btn btn-primary">pay</button>
  </div>

</div>
