<div class="box">
  <form [formGroup]="payForm">
    <div class="mb-3">
      <label for="email">write your email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        id="email"
      />
      @if(emailControl.touched&& emailControl.hasError('required')){
      <app-error message="this field is requerd"> </app-error>
      }@else if(emailControl.touched&& emailControl.hasError('email')){
      <app-error message="must be in email style  "> </app-error>}
    </div>
    <div class="mb-3">
      <label for="firstname">write your firstname</label>
      <input
        type="text"
        formControlName="firstname"
        class="form-control"
        id="firstname"
      />
      @if(firstnameControl.touched && firstnameControl.hasError('required')){
      <app-error [message]="'this field is requerd'"> </app-error>
      }@else if (firstnameControl.touched &&
      firstnameControl.hasError('minlength')) {
      <app-error message="Username must contain min 3 "> </app-error>}
    </div>
    <div class="mb-3">
      <label for="lastname">write your lastname</label>
      <input
        type="text"
        formControlName="lastname"
        class="form-control"
        id="lastname"
      />
      @if(lastnameControl.touched&& lastnameControl.hasError('required')){
      <app-error message="this field is requerd"> </app-error>
      }@else if(lastnameControl.touched&&
      lastnameControl.hasError('minlength')){
      <app-error message="Username must contain min 3"> </app-error>}
    </div>
    <div class="mb-3">
      <label for="telephone">write your telephone number</label>
      <input type="tel" class="form-control" id="telephone" />
    </div>
    <div class="mb-3">
      <label for="card-number">write your card-number</label>
      <input type="text" class="form-control" id="card-number" />
    </div>
    <div class="mb-3">
      <label for="card-expire-date">write your card-expire-date</label>
      <input type="text" class="form-control" id="card-expire-date" />
    </div>
    <div class="mb-3">
      <label for="card-name">write your card-name</label>
      <input type="text" class="form-control" name="" id="card-name" />
    </div>
    <p class="lightgreenyelow">this will be $2000</p>
    <div class="flex">
      <button routerLink="/main-page" class="btn btn-secondary">
        go to home
      </button>
      <button routerLink="/main-page"  class="btn btn-primary">pay</button>
    </div>
  </form>
</div>
