.midle{
    margin-left: 35%;
}
.box{
    width: 424px;
    height: 485px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.mini-top{
    padding-top: 5px;
}
.lightgreenyelow{
    color: rgb(156, 245, 22);
}
.flex{
    display: flex;
    justify-content: space-between;
}.btn1{
    margin-top: 23.5px;
    height: 40px;
}
.radius{
    border-radius: 15px;
}