<div class="box midle">
  <img
    class="mini-top radius"
    src="https://www.topgear.com/sites/default/files/news-listicle/image/2024/09/Large-17924-2025Jetta_1.jpg?w=424&h=239"
    alt=""
  />
  <p>
    this car doesnt go fast but does job also it is comfortable and pretty big i
    would recomend this car if you and your family are going in curort
  </p>
  <h2 class="lightgreenyelow">$ 1000</h2>
  <p>this is for 10 days</p>

  <div class="flex">
    <button
      routerLink="/main-page"
      type="button"
      class="btn1 btn btn-secondary"
    >
      to the home
    </button>
    <button routerLink="/woltswagen-pay" class="btn1 btn btn-primary">pay</button>
  </div>
</div>
